body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.1em;
    margin: 0;
    background-color: #152141;
    color: white;
}

h1{
    animation-duration: 3s;
    animation-name: slide-left;
}

@keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.title a{
    margin-left: 40%;
    color:hsla(212, 100%, 50%);
}

.title a:hover{
    color: rgb(0, 255, 170);    
}

.title a{
    transition: color 0.5s;
}



.container{
    width: 90%;
    margin: auto;
}   

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header{
    background: #000000;
    color: white;
    padding: 1rem 0;
}

.header a{
    color: white;
    text-decoration: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li{
        display: inline-block;
    }

    .navigation ul li a{
        display: block;
        padding: 0.1rem 1rem;
        text-decoration: none;
       
    }
        .navigation ul li a:hover {
            background: #333333;
        }

.boxProfile{
    margin: 0 auto;
    margin-top: 50px;
    font-style: italic;
    background: rgb(0, 0, 0);
    height: 150px;
    width: 900px;
    border-radius: 15px;
    border: 2px solid hsla(212, 100%, 50%);
}

.boxProfile p{
    margin-left: 10px;
}

.boxProfile1{
    margin: 0 auto;
    margin-top: 20px;
    font-style: italic;
    background: rgb(0, 0, 0);
    height: 350px;
    width: 900px;
    border-radius: 15px;
    border: 2px solid hsla(212, 100%, 50%);
}

.boxProfile1 p{
    margin-left: 10px;
}

.softwareImages{
    margin-top: 5px;
    margin-left: 60px;
    width: 75px;
}

.softwareImagesB{
    margin-top: 45px;
    margin-left: 60px;
    width: 75px;
}



.footer{
    background: #000000;
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 35px;
}

    .icon-nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .icon-nav ul li{
        display: inline-block;
    }

    .icon-nav ul li a{
        display: block;
        padding: 0.2rem;
    }

    .textoFooter{
        margin-bottom: 5%;
    }
.icons{
    width: 25px;
}

.invert{
    filter:invert(1);
}

.boxProfile2{
    margin: 0 auto;
    margin-top: 20px;
    font-style: italic;
    background: rgb(0, 0, 0);
    height: 350px;
    width: 900px;
    border-radius: 15px;
    border: 2px solid hsla(212, 100%, 50%);
}

.boxProfile2 p{
    margin-left: 10px;
}
